/**MAINPAGE**/
#main_body{
	background: linear-gradient(to right, rgb(211, 131, 18), rgb(168, 50, 121));
	font-family: 'Montserrat', sans-serif;
	/*background: linear-gradient(to right, rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));*/
	/*background: linear-gradient(to right, rgb(233, 100, 67), rgb(144, 78, 149));*/
}

#cuerpo {
	margin-top: 40vh;
}

.custom-btn{
	border: none;
	padding: 7px;
	color: white;
	background-color: #F5A754;
	border-radius: 5px;
	font-size: 15px;
	outline: none;
}

.custom-btn:hover{
	background-color: #F7BC7C;
}

.input-group-text{
	background-color: #F5A754;
	border: #F7BC7C;
	color: white;
}

#form-container{
	margin-left: auto;
	display: flex;
}

#formulario{
	width: 55%;
	margin:auto;
}

@media only screen and (max-width: 990px) {
	#form-container{
		margin:auto;
	}	
	#formulario{
		width: 75%;
		margin:auto;
	}
}

/**

	Colores:
	- Primario: orange F5A754;
	- Secundario: orange F7BC7C;
	- Otros: gray D7D7CE;

**/
/**SERIES PAGE**/
.orange{
	background-color: #F7BC7C;
}


#user_body{
	font-family: 'Montserrat', sans-serif;
}

.navbar{
	background-color: #F5A754;
	padding: 12px;
}

.custom-link{
	color: white;
	padding: 3px;
	padding-left: 10px;
	display: flex;
}

.custom-link:hover{
	color: white;
	text-decoration: none;
}

.active-link{
	padding: 3px;
	display: flex;
	margin-left: 10px;
}
.active-link:hover{
	color: black;
	text-decoration: none;
}

.current-active{
	text-transform: uppercase;
}

.activo{
	color: black;
	background-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding:5px;
}

#nav_logo{
	background-image: url("../img/logo2.png");
	width: 150px;
	height: 30px;
	background-size: cover;
}

#menu-ico{
	color: white;
}

.film-footer{
	border: 1px solid #F5A754;
	border-top:none;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	background-color: #F7BC7C;
	color: black;
	text-align: center;
	color: white;
}

.card{
	background-color: #D7D7CE;
}

.page-link{
	color: black;
}
.page-link:hover{
	color: black;
}

#hidden{
	display: none;
}

#footer{
	background-color: #F5A754;
	padding: 12px;	
	color: white;
}


@media only screen and (max-width: 990px) {
	#filtros{
		display: none;
	}
	#hidden{
		display: block;
	}
}